@charset "UTF-8";

/* GERAL */
html{
    font-family: sans-serif, Arial, Helvetica;
}

.maxwidth{
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3{
    color: rgb(146, 177, 105);
}

body{
    background-color: rgb(235, 233, 212);
}

/* HEADER */
.header-top-logo{
    width: 17em;
    margin-top: 1em;
}
.header-top-nav{
    float: right;
    margin-right: 6em;
    padding: 1em;
}
.header-top-nav ul{
    list-style: none;
    font-size: 2.5em;
}
.header-top-nav a{
    text-decoration: none;
    color: rgb(146, 177, 105);
    font-family: "Lora";
    display: block;
    opacity: 1;
    transition: 0.3s ease;
}
.header-top-nav a:hover{
    color: rgb(188, 211, 157);
    opacity: 0.7;
}

/*MAIN*/
.div-main-content{
    padding: 1em;
}
.div-main-title{
    text-align: center;
}
.div-main-content p{
    line-height: 1.4em;
    text-align: center;
    width: 600px;
    margin: auto;
}

/*ARTIGOS*/
.div-middle-content{
    padding: 2em;
}
.articles p{
    line-height: 1.4em;
    margin: 15px;
}
.button{
    color: rgb(146, 177, 105);
    background: none;
    border: none;
    margin: 9px;
}
.button:hover{
    cursor: pointer;
}

/*GRID CURSOS*/
.div-courses{
    padding: 0;
    display: grid;
    grid-template-columns: 15em 15em;
    grid-gap: 5em;
    justify-content: space-evenly;
    margin-right: 15px;
}
.courses-article-white{
    background: white;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
}
.courses-article-green{
    background: rgb(188, 211, 157);
    margin: auto;
    padding: 1em;
    border-radius: 1em;
}
.courses-article-white h3{
    text-align: center;
}
.courses-article-green h3{
    text-align: center;
    color: white;
}

.div-courses p{
    line-height: 1.3em;
}
.image-courses{
    width: 15em;
    border-radius: .4em;
    opacity: 1;
    transition: .6s ease;
}
.image-courses:hover{
    opacity: .4;
}

/*FOOTER*/
.footer{
    margin-top: 3em;
    padding-bottom: .5em;
    text-align: center;
    background:rgb(146, 177, 105);
    font-family: "Lora";
    border-top: 1.9px dotted rgb(59, 82, 29);
}
.footer a{
    color: black;
}

@media screen and (min-width: 48.75em){
    /*HEADER*/
    .header-top-nav{
        padding: 0;
    }
    .header-top-nav li{
        display: inline-block;
        font-size: .8em;
        border-bottom: 1px double rgb(146, 177, 105);
        padding: 2px;
    }
    /*MAIN*/
    .div-main-content p{
        line-height: 1.5em;
    }
    /*ARTIGOS*/
    .div-middle-content{
        padding: 3em;
    }
    .articles p{
        line-height: 1.5em;
    }
    .button{
        font-size: 1em; 
        margin-top: 0;
    }
    /*COURSES*/
    .courses-title{
       padding-left: 2em;
    }

    .div-courses{
        align-self: center;
        justify-self: center;
        width: 50%;
        margin: auto;
        text-align: center;
        grid-template-columns: 15em 15em 15em;
        justify-content: space-around;
    }
}

@media screen and (min-width: 62.5em){
    /*HEADER*/
    .header{
        background: rgb(146, 177, 105);
        border-bottom: 1px solid rgb(59, 82, 29);
    }
    .header-top-logo{
        border-radius: 150px;
        margin: 15px 15px 15px 20px;
        border: 1px solid rgb(59, 82, 29);
    }
    .header-top-nav a{
        color: rgb(235, 233, 212);
        border-bottom: 1px double rgb(235, 233, 212);
        margin-right: 5px;
    }
    .header-top-nav a:hover{
        color: rgb(188, 211, 157);
    }
    /*MAIN*/
    .div-main-title{
        font-size: 2em;
    }
    /*COURSES*/
    .courses-title{
        font-size: 1.8em;
    }
    .courses-article-white h3{
        font-size: 1.3em;
    }
    .courses-article-green h3{
        font-size: 1.3em;
    }
}